<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BattlePets.Properties.Settings.F2T5ConnectionString"
            connectionString="Data Source=mis220.eil-server.cba.ua.edu;Initial Catalog=F2T5;Persist Security Info=True;User ID=F2Team5;Password=#RollTide!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>